# top-most EditorConfig file, enforcing some of the code style
#
# See http://editorconfig.org for a plugin to your editor!
#
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
