*.exe
*.bin
*.app
hashcat
hashcat.exe
libhashcat.so.*
libhashcat*.dylib
hashcat.dll
*.potfile
*.restore
*.dictstat2
*.pot
*.pid
*.log
*.out
*.dSYM
kernels/**
lib/*.a
modules/*.dll
modules/*.so
obj/*/*/*.o
obj/*.o
obj/*.a
include/CL
tools/luks_tests
