[submodule "OpenCL-Headers"]
	path = deps/git/OpenCL-Headers
	url = https://github.com/KhronosGroup/OpenCL-Headers.git
[submodule "xxHash"]
	path = deps/git/xxHash
	url = https://github.com/Cyan4973/xxHash.git
