[submodule "deps/OpenCL-Headers/CL"]
	path = deps/OpenCL-Headers/CL
	url = https://github.com/KhronosGroup/OpenCL-Headers.git
[submodule "OpenCL-Headers"]
	path = deps/git/OpenCL-Headers
	url = https://github.com/KhronosGroup/OpenCL-Headers.git
